<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b36d2a10-a8c1-423b-8657-c298d0d3a391/resourceGroups/TestResourceGroup/providers/Microsoft.ContainerRegistry/registries/RayanTestRegistry</ResourceId>
    <ResourceName>RayanTestRegistry</ResourceName>
    <ResourceGroup>TestResourceGroup</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://rayantestregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>89e18c58-b8c9-43d8-b9d3-9fbd5c43f7b7</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>